{% load staticfiles %}
<html>
    <head>
        <title>Estilográficas Lichun</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/cssTienda.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Estilográficas Lichun</a></h1>
        </div>

<div id="log" style="height: 50px; width: 200px; overflow: auto;" class="ui-widget-content"></div>
</div>


        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
	</body>
</html>
