.page-header {
        background-color: #ff9400;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
    }

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1 a, h2, h3 a, h4 {
    color: #ff9400;
}

h1 b, h3 b, h4 {
    color: #ff9500;
}

.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.lista-form textarea, .lista-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.lista {
    margin-bottom: 70px;
}

.lista h1 a, .lista h1 a:visited {
    color: #000000;
}
